<include file="Public:top"/>
<link rel="stylesheet" href="__PUBLIC__/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script>
$(document).ready(function(){
	$('.has-items').eq(0).children(".level-2").show();
	$('.has-items').eq(0).addClass("selected");
	$('li .item').removeClass("selected");
	$('.has-items').eq(0).children(".level-2").children('li').eq(1).addClass('selected');
	$('#type').change(function(){
		if($(this).val()==5)
		{
			$('#link_url_html').show();
			$('#content_id_html').hide();
		}
		else
		{
			$('#link_url_html').hide();
			$('#content_id_html').show()
		}
	});
	$('#province_id').change(function(){
		$.ajax({
                type: "post",
                url: "?c=Rotate&a=getcitylist",
				data:{'province_id':$(this).val()},
                cache: false,
                datatype: "json",
                success: function(msg) {
					var str='<option value="0">市</option>';
					var obj=eval(msg); 
                    $.each(obj, function(i) {
						str+='<option value="'+obj[i].id+'">'+obj[i].title+'</option>';
                    });
					$('#city_id').html(str);
                }
        });
	})
	$('#city_id').change(function(){
		$.ajax({
                type: "post",
                url: "?c=Rotate&a=getarealist",
				data:{'city_id':$(this).val()},
                cache: false,
                datatype: "json",
                success: function(msg) {
					var str='<option value="0">区</option>';
					var obj=eval(msg); 
                    $.each(obj, function(i) {
						str+='<option value="'+obj[i].id+'">'+obj[i].title+'</option>';
                    });
					$('#area_id').html(str);
                }
        });
	})
	$('#area_id').change(function(){
		$.ajax({
                type: "post",
                url: "?c=Rotate&a=getdistrictlist",
				data:{'area_id':$(this).val()},
                cache: false,
                datatype: "json",
                success: function(msg) {
					var str='<option value="0">商圈</option>';
					var obj=eval(msg); 
                    $.each(obj, function(i) {
						str+='<option value="'+obj[i].id+'">'+obj[i].title+'</option>';
                    });
					$('#district_id').html(str);
                }
        });
	})
	$('#one_id').change(function(){
		$.ajax({
                type: "post",
                url: "?c=Rotate&a=getsonclasslist",
				data:{'parentid':$(this).val()},
                cache: false,
                datatype: "json",
                success: function(msg) {
					var str='<option value="0">请选择</option>';
					var obj=eval(msg); 
                    $.each(obj, function(i) {
						str+='<option value="'+obj[i].id+'">'+obj[i].title+'</option>';
                    });
					$('#industry_class_id').html(str);
                }
        });
	});
	<?php
	if($vo['province_id']>0)
	{
		echo "$('#province_id').val(".$vo['province_id'].");\n";
	}
	if($vo['city_id']>0)
	{
		echo "$('#city_id').val(".$vo['city_id'].");\n";
	}
	if($vo['area_id']>0)
	{
		echo "$('#area_id').val(".$vo['area_id'].");\n";
	}
	if($vo['district_id']>0)
	{
		echo "$('#district_id').val(".$vo['district_id'].");\n";
	}
	if($vo['one_id']>0)
	{
		echo "$('#one_id').val(".$vo['one_id'].");\n";
	}
	if($vo['industry_class_id']>0)
	{
		echo "$('#industry_class_id').val(".$vo['industry_class_id'].");\n";
	}
	if($vo['type']<5)
	{
		echo "$('#content_id').val(".$vo['content_id'].");\n";
		echo "$('#id_status').val(1);\n";
		echo "$('#content_id_html').show();\n";
		echo "$('#link_url_html').hide();\n";
	}
	else
	{
		echo "$('#id_status').val(0);\n";
		echo "$('#link_url').val('".$vo['link_url']."');\n";
		echo "$('#content_id_html').hide();\n";
		echo "$('#link_url_html').show();\n";
	}
	?>
	$('#type').val({$vo.type});
});
function update()
{
	if($('#province_id').val()==0)
	{
		alert('请选择省份');
		return false;
	}
	if($('#city_id').val()==0)
	{
		alert('请选择城市');
		return false;
	}
	if($('#area_id').val()==0)
	{
		alert('请选择行政区');
		return false;
	}
	if($('#district_id').val()==0)
	{
		alert('请选择商圈');
		return false;
	}
	if($('#type').val()==5)
	{
		if($('#link_url').val()=='')
		{
			alert('请输入网址');
			$('#link_url').focus();
			return false;
		}
	}
	else
	{
		if($('#id_status').val()==-1)
		{
			alert('内容不正确');
			return false;
		}
	}
	if($.trim($('#title').val())=='')
	{
		alert('请输入标题');
		$('#title').val('');
		$('#title').focus();
		return false;
	}
}

function search()
{
	if($('#content_id').val()=='')
	{
		alert('请输入内容ID');
		$('#content_id').val('');
		$('#content_id').focus();
	}
	else
	{
		$.ajax({
				type: "post",
				url: "?c=Rotate&a=searchresult",
				data:{'type':$('#type').val(),'id':$('#content_id').val()},
				cache: false,
				datatype: "json",
				success: function(obj) {
					//var obj=eval(msg);
					//alert(obj);
					if(obj.flag==0)
					{
						alert(obj.msg);
						$('#search_id_txt').html('');
						$('#id_status').val('-1');
					}
					else
					{
						$('#id_status').val('1');
						$('#search_id_txt').html(obj.msg);
					}
					/*var str='<option value="0">请选择</option>';
					var obj=eval(msg); 
					$.each(obj, function(i) {
						str+='<option value="'+obj[i].id+'">'+obj[i].title+'</option>';
					});
					$('#industry_class_id').html(str);*/
				}
		});
	}
	/*
	switch($('#type').val())
	{
		case 0://商家
		break;
		case 1://优惠券
		break;
		case 2://会员卡
		break;
		case 3://活动
		break;
		case 4://新品
		break;
		case 5://网址
		break;
	}
	*/
}
</script>
<body class="modal-ready">
<div id="mask" class="mask"></div>
	<div class="container">
    	<div class="viewport" id="console">


            <include file="Public:menu"/>
            
            
            <div class="content" style="">
            	<div class="wrapper page">

					
                    <div class="pane">
                    <ul class="page-tabs"><li class="selected"><a href="?c=Rotate&a=edit&id={$vo.id}" data-permalink="">编辑轮换图</a></li></ul>
                    	<form name="form1" method="post" action="?c=Rotate&a=update" enctype="multipart/form-data" onSubmit="return insert()">
                    	<table width="100%" class="table table-bordered table-hover">
							<thead>
								<tr>
								  <th width="127">所在城市<input type="hidden" name="id" value="{$vo.id}" /></th>
								  <th align="left"><select name="province_id" id="province_id">
									<option value="0">省</option>
									<volist name="province_list" id="item">
									<option value="{$item.id}">{$item.title}</option>
									</volist>
									</select>
									<select name="city_id" id="city_id">
									  <option value="0">市</option>
									  <volist name="city_list" id="item">
									  <option value="{$item.id}">{$item.title}</option>
									  </volist>
									  </select>
									<select name="area_id" id="area_id">
									<option value="0">区</option>
									  <volist name="area_list" id="item">
									  <option value="{$item.id}">{$item.title}</option>
									  </volist>
									</select>
									<select name="district_id" id="district_id">
									<option value="0">商圈</option>
									  <volist name="district_list" id="item">
									  <option value="{$item.id}">{$item.title}</option>
									  </volist>
									</select></th>
								  </tr>
								<tr>
								  <th width="127"><span style="color:#FF0000;">*</span>所属分类</th>
								  <th align="left"><select name="one_id" id="one_id">
									<option value="0">请选择</option>
									<volist name="class_list" id="item">
									<option value="{$item.id}">{$item.title}</option>
									</volist>
									</select>
									<select name="industry_class_id" id="industry_class_id">
									  <option value="0">请选择</option>
									<volist name="industry_class_list" id="item">
									<option value="{$item.id}">{$item.title}</option>
									</volist>
									</select></th>
								  </tr>
								<tr>
								  <th width="127"><span style="color:#FF0000;">*</span>类型</th>
									<th align="left">
									<select name="type" id="type">
									<option value="0">商家</option>
									<option value="1">优惠券</option>
									<option value="2">会员卡</option>
									<option value="3">活动</option>
									<option value="4">新品</option>
									<option value="5">网址</option>
									</select>
									<input type="hidden" id="id_status" value="-1"/>
									</th>
								  </tr>
								<tr id="content_id_html">
								  <th width="127"><span style="color:#FF0000;">*</span>内容ID</th>
								  <th align="left"><input name="content_id" type="text" id="content_id" size="40" />
									<input type="button" value="查询" onclick="search()"/>
									<br />
									<span id="search_id_txt"></span>
									</th>
								  </tr>
								<tr id="link_url_html" style="display:none">
								  <th width="127"><span style="color:#FF0000;">*</span>网址</th>
								  <th align="left"><input name="link_url" type="text" id="link_url" size="40" /></th>
								  </tr>
								<tr>
								  <th width="127">标题</th>
								  <th align="left"><input name="title" type="text" id="title" size="40" value="{$vo.title}"/></th>
								  </tr>
								<?php
								if(!empty($vo['img']))
								{
								?>
								<tr>
								  <th width="127">已传图片</th>
								  <th align="left"><img src="__IMGURL__/imgs/{$vo.img}" width="200" height="200"></th>
								  </tr>
								<?php
								}
								?>
								<tr>
								  <th width="127">图片</th>
								  <th align="left"><input type="file" name="img" id="img"></th>
								  </tr>
								<tr>
								  <th width="127">&nbsp;</th>
								  <th align="left"><input type="submit" name="button" id="button" value="提交"></th>
								  </tr>
							</thead>
							<tbody>
							
						   </tbody><tfoot></tfoot>
						</table>
                  	  </form>

                        
                       
                   </div>
                    
               </div>
           </div>
           <div class="notify" style=""></div>
           <div class="loading-overlay" style="display: none"></div>
           <div class="account-lock" style="display:none"></div>
		   
       </div>
   </div>
   
  <include file="Public:footer"/>